
#chatboxx{
	
}
#textarea{
	margin: 0%;
	height: 380px;
	overflow-y:scroll; 
	overflow-x:hidden;
}
.panel{
	margin-bottom: 0;
	border-radius: 0;
	height: 500px;
	width: 500px;
	
}
.panel-heading{
	border-radius:0;
	padding:8px;
}
.panel-title{
	font-size: 15px;
	left: 5%;
}
#min{
	background-color: transparent;
	border:none;
	position: absolute;
	right:5%;
}
#arr{
	width: 0;
height: 0;
border-style: solid;
border-width: 12px 24px 12px 0px;
border-color: transparent #00A3E4 transparent transparent;
position: absolute;
z-index: 2000;
left:-20px;
top:0px;
}
